<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty salon</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <header>

    <nav class="container navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#feature">Feature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#location">Access</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <section id="feature" class=" container p-4 border-bottom border-white pb-3 mb-5">
    <div class="slider-inner">

      <div class="vertical-middle">
        <div class="container py-5">

          <div class="row align-items-center col-mb-50">
            <div class="col-md-6">

              <div class="py-5 py-md-0">
                <small class="text-muted text-uppercase mb-1 d-block">Beauty Salon</small>
                <h2>Beauty Salon</h2>
                <h5 class="font-weight-light ls1" style="opacity: .7">We’re Pedro and Aistė, a passionate digital
                  designer and a skillful Canvas developer focused in delivering a high quality service.</h5>
                <div class="d-flex align-items-center mt-5">
                  <a href="#contact"
                    class="overflow-hidden mx-0 px-5">
                    <button type="button" class="btn btn-outline-primary">E-mail Me Hera !</button>
                  </a>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>

    </div>
  </section><!-- #Slider End -->

  <section class="container border-bottom border-white pb-3 mb-5">

    <div class="media">
      <figure class="media__img-wrapper">
        <img class="media__img" alt="青髪の美女" src="images/10.jpg">
      </figure>
      <div class="media__body">
        <h3 class="media__title">
          ユーザーを考えた設計で満足な体験を
        </h3>
        <p class="media__text">
          提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。<br>
          わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
        </p>
      </div>
      <!-- /.media__body -->
    </div>
    <!-- /.media -->

  </section>

  <section id="location">
    <div class="container">
      <div class="location-info">
        <h3 class="sub-title">
          webサロン 東駅前店
        </h3>
        <p>
          住所：東京都 ○ ○ 区<br>
          ○ ○ ○ ○ ○  000-22-1<br>
          ○ ○ ○ <br>
          電話： 03-✕✕✕✕-✕✕✕✕<br>
          休日：水曜
        </p>
      </div>
      <div class="location-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.4470125034877!2d139.73466851520018!3d35.66599373841504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b835942e165%3A0xb4897f1f4264c771!2z44CSMTA2LTAwMzIg5p2x5Lqs6YO95riv5Yy65YWt5pys5pyo77yS5LiB55uu77yU4oiS77yV!5e0!3m2!1sja!2sjp!4v1609703399678!5m2!1sja!2sjp" width="800" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </section>

  <div id="app" v-cloak>
    <div id="contact" class="container text-white p-5">
      <h2 class="text-center border-bottom border-white pb-3 mb-5">
        お問合せ
      </h2>
      <form>
        <!--日にち-->
        <div class="row">
          <label class="col-md-3 col-form-label pt-0" for="wedding_date">
            お日にち
          </label>
          <div class="col-md-9">
            <input class="form-control" type="date" id="wedding_date" placeholder="日付をお選びください。" v-model="wedding_date">
            <small class="form-text">お日にちを選択してください。</small>
          </div>
        </div>
        <!--メニュー-->
        <div class="row">
          <label class="col-md-3 col-form-label pt-0">メニュー
          </label>
          <div class="col-md-9">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="opt1" v-model="opt1_use">
              <label class="form-check-label" for="opt1">カットのみ ＋{{taxedOpt1 | number_format}}円</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="opt2" v-model="opt2_use">
              <label class="form-check-label" for="opt2">カラーのみ ＋{{taxedOpt2 | number_format}}円</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="opt3" v-model="opt3_use">
              <label class="form-check-label" for="opt3">カラー＋カット ＋{{taxedOpt3 | number_format}}円</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="opt4" v-model="opt4_use">
              <label class="form-check-label" for="opt4">カラー＋カット＋パーマ ＋{{taxedOpt4 | number_format}}円</label>
            </div>
          </div>
        </div>
        <!--合計：基本料金＋オプション料金-->
        <div class="row mb-3">
          <label class="col-md-3 col-form-label pt-0">合計（税込）</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" id="sum_total"
                v-bind:value="taxedTotalPrice | number_format" readonly>
              <div class="input-group-append">
                <label class="input-group-text">円</label>
              </div>
            </div>
          </div>
        </div>
        <!--小計：オプション料金-->
        <div class="form-group row mb-3">
          <label class="col-md-3 col-form-label pt-0">お名前</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control text-right" id="sum_opt">
            </div>
          </div>
        </div>
        <!--小計：オプション料金-->
        <div class="form-group row">
          <label class="col-md-3 col-form-label pt-0">メールアドレス</label>
          <div class="col-md-9">
            <div class="input-group">
              <input type="text" class="form-control text-right" id="sum_opt">
            </div>
          </div>
        </div>
        <div class="form-row text-center pt-4">
          <div class="col-12">
            <button type="submit" class="btn btn-primary p-3">送信</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="bg"></div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="main.js"></script>
</body>

</html>