.slider-element {
    padding: 60px 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.content {
    padding: 60px 15px;
    background-color: #050505;
  }

.media {
    display: flex;
    align-items: center;
  }
  
  .media__img-wrapper {
    flex: 0 1 27.58333%;
    margin-right: 3.33333%;
  }
  
  .media__img {
    width: 100%;
  }
  
  .media__body {
    flex: 1;
  }
  
  .media__body > *:last-child {
    margin-bottom: 0;
  }
  
  .media__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
  }
  
  .media__text {
    /* css-wipeではスタイリングなし */
  }
  
  @media screen and (max-width: 768px) {
    .media {
      display: block;
    }
  
    .media__img-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/dots-white.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    }